<div class="container__full">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <img class="img-fluid d-none d-md-block" src="../../img/vitrines/banner_retorno.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3 text-center">
                <h2 class="container__full__title">Olá, alguma dúvida?</h2>
                <p>Verificamos que você retornou para o site da Lidery sem concluir o pagamento. 
                <p>Como podemos ajudá-lo?</p> 
                <p>Entre em contato com a gente!</p>
                <a class="color--black" href="mailto:contato@lidery.org.br" target="_top" title="Mande nos um e-mail"><strong>contato@lidery.org.br</strong></a>
            </div>
            <div class="col-md-12 text-center">
                <div class="img-wrapper">
                    <img src="img/logocolorida.png">
                </div>
            </div>

            <div class="col-md-12 text-center">
                <div class="img-wrapper">
                    <a href="https://www.lidery.org.br">www.lidery.org.br</a>

                </div>
            </div>
        </div>
    </div>

</div>