<div class="container__full">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <img class="img-fluid d-none d-md-block" src="../../img/vitrines/banner_retorno.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="container__full__title">Prontinho, cadastro recebido! =)</h2>
                <img class="img-fluid my-3 my-md-4" src="../../img/regua-lidery-2.png" alt="Lidery">
                <p>Recebemos sua Proposta de Admissão e a Lidery já está analisando! </p>
                <p>Faremos contato em breve, por isso, fique ligado no seu e-mail. Se a mensagem não chegar na caixa de entrada,
                    por favor verifique a caixa de spam ou nos envie um email para:
                    <a href="mailto:contato@lidery.org.br" target="_top" title="Mande nos um e-mail">contato@lidery.org.br</a>
                </p>

                <p>Muito obrigado por seu interesse em fazer parte da Lidery!</p>

                <span>Nos acompanhe também nas redes sociais! </span>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer__social my-3 d-flex justify-content-center">
                            <div class="footer__social__item">
                                <a href="https://www.facebook.com/clubedevantagenslidery" target="_blank">
                                    <i class="fab fa-facebook-square fa-lg"></i>
                                </a>
                            </div>
                            <div class="footer__social__item">
                                <a href="https://twitter.com/LideryVantagens" target="_blank">
                                    <i class="fab fa-twitter-square fa-lg"></i>
                                </a>
                            </div>
                            <div class="footer__social__item">
                                <a href="https://www.instagram.com/clubedevantagenslidery/" target="_blank">
                                    <i class="fab fa-instagram fa-lg"></i>
                                </a>
                            </div>
                            <div class="footer__social__item">
                                <a href="https://www.youtube.com/channel/UC1LPY4CRGafGO6gJnVZ0ZRg?view_as=subscriber" target="_blank">
                                    <i class="fab fa-youtube fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <div class="img-wrapper">
                        <img src="../../img/logocolorida.png">
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="img-wrapper">
                        <a href="https://www.lidery.org.br">www.lidery.org.br</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>