<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3">
                <img class="footer__logo" src="../img/icons/logo-footer.png" alt="">
                <p class="footer__list__paragraph">
                    Lidery Associação de Benefícios e Socorro Mútuo CNPJ: 29.276.184/0001-07 contato@lidery.org.br www.lidery.org.br
                </p>
                <div class="footer__social">
                    <div class="footer__social__item">
                        <a href="https://www.facebook.com/clubedevantagenslidery" target="_blank">
                            <i class="fab fa-facebook-square fa-lg"></i>
                        </a>
                    </div>
                    <div class="footer__social__item">
                        <a href="https://twitter.com/LideryVantagens" target="_blank">
                            <i class="fab fa-twitter-square fa-lg"></i>
                        </a>
                    </div>
                    <div class="footer__social__item">
                        <a href="https://www.instagram.com/clubedevantagenslidery/" target="_blank">
                            <i class="fab fa-instagram fa-lg"></i>
                        </a>
                    </div>
                    <div class="footer__social__item">
                        <a href="https://www.youtube.com/channel/UC1LPY4CRGafGO6gJnVZ0ZRg?view_as=subscriber" target="_blank">
                            <i class="fab fa-youtube fa-lg"></i>
                        </a>
                    </div>


                </div>
            </div>
            <div class="col-6 col-md-3">
                <h4 class="footer__list__title">A Lidery</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link footer__list__link" href="#!/beneficios" target="_blank">Benefícios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link footer__list__link" href="#!/about-us" target="_blank">Quem somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link footer__list__link" href="#!/lidery-social" target="_blank">Lidery Social</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link footer__list__link" href="#!/contato" target="_blank">Contato</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mt-5 mt-md-0">
                <h4 class="footer__list__title">Benefícios</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link footer__list__link" href="#!/clube-de-vantagem" target="_blank">Clube de Vantagens</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link footer__list__link" href="#!/seguro-acidentes-pessoais" target="_blank">Seguro Acidentes Pessoais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link footer__list__link" href="#!/sorte-premiada" target="_blank">Sorte Premiada</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mt-5 mt-md-0">
                <h4 class="footer__list__title">Documentos</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link footer__list__link" href="https://docs.lidery.org.br/termo_uso.html" target="_blank">Termos de Uso</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link footer__list__link" href="https://docs.lidery.org.br/politica_privacidade.html" target="_blank">Política de Privacidade</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link footer__list__link" href="https://docs.lidery.org.br/glossario.html" target="_blank">Glossário Lidery</a>
                    </li>
                </ul>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-12">
                <p class="footer__list__paragraph">Os benefícios Seguro AP (Processo SUSEP nº. 10.004808/99-14) e Sorte Premiada (Processo SUSEP nº. 15414.200178/2009-19)
                    são oferecidos e estipulados pela Lidery Associação de Benefícios e Socorro Mútuo, em favor de seus associados;
                    garantidos pela MBM Seguradora S.A., inscrita no CNPJ 87.883.807/0001-06, com sede à Rua dos Andradas,
                    772, CEP 90020-004, Centro, Porto Alegre-RS; sendo intermediados pela Join Consultoria e Corretora de
                    Seguros EIRELLI ME, inscrita na SUSEP sob o no. 10.2034714.6. O registro deste plano na SUSEP não implica,
                    por parte da Autarquia, incentivo ou recomendação à sua comercialização.</p>
            </div>
        </div>
    </div>
</footer>