<main class="main">
    <section class="banner banner--clube-de-vantagens">
        <div class="container">
            <div class="row banner__translate--y translateY-sm-0">
                <div class="col-12 col-lg-7 mb-2">
                    <h1 class="banner__title" data-hidden data-revel="animated fadeInDown">Clube de Vantagens Lidery</h1>
                    <h2 class="banner__subtitle mb-2" data-hidden data-revel="animated fadeInDown delay-1s">Com a Lidery você pode economizar R$6 mil por ano!</h2>
                    <h2 class="banner__subtitle" data-hidden data-revel="animated fadeInDown delay-1s">Tenha acesso a promoções exclusivas em várias lojas!</h2>
                </div>
                <div class="col-12 mt-3 mt-lg-0" data-hidden data-revel="animated fadeInDown delay-1-5s">
                    <a class="btn btn__outline--white d-none d-md-inline-block" href="javascript:void(0);" data-toggle="modal" data-target="#formLidery">Quero conhecer o clube de vantagens</a>
                </div>

            </div>
        </div>
    </section>

    <section class="container-fluid showcase">
        <div class="row">
            <div class="col-md-6 showcase__one">
                <div class="showcase__card">
                    <div class="showcase__card__header">
                        <div class="showcase__card__image">
                            <img class="mr-4" src="../img/icons/ic-vantagens.png" alt="Card image cap">
                        </div>
                        <div class="showcase__card__title showcase__card__title--purple">
                            <span>Clube de</span>
                            <span class="showcase__card__title__extrabold">Vantagens</span>
                        </div>
                    </div>
                    <div class="showcase__card__body"></div>
                    <p class="showcase__description showcase__description--bold">Descubra como economizar!</p>
                    <p class="showcase__description showcase__description--regular">Assista o vídeo e aprenda a comprar de forma muito mais inteligente com o Clube de Vantagens Lidery.</p>
                </div>
            </div>
            <div class="col-md-6 showcase__two">
                <div class="row">
                    <div class="col-12 text-center">
                        <!-- <video controls muted class="showcase__box">
                            <source src="videos/bg.mp4" type="video/mp4">
                        </video> -->
                        <div class="showcase__box" ng-click="onClickVideo()">
                            <img class="img-fluid" src="../img/Thumbnail.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <a class="btn btn--lg btn--blue mt-3 mt-md-5" href="javascript:void(0);" data-toggle="modal" data-target="#formLidery">Quero ter as vantagens lidery</a>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section class="discount">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <h2 class="discount__title">Compre com desconto nas melhores lojas do mercado</h2>
                    <h3 class="discount__subtitle mb-1">Com o
                        <span class="open-bold">Clube de Vantagens Lidery</span>, você tem acesso a promoções exclusivas.
                        <h3 class="discount__subtitle">Conheça algumas lojas parceiras para comprar tudo o que você precisa com desconto!</h3>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card card__store">
                        <div class="card__store__image">
                            <img class="img-fluid" src="../img/stores/burguer-king.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text card__store__title"> Promoção</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card card__store">
                        <div class="card__store__image">
                            <img class="img-fluid" src="../img/stores/casas-bahia.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text card__store__title"> Até
                                <span>40%</span> de desconto</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card card__store">
                        <div class="card__store__image">
                            <img class="img-fluid" src="../img/stores/apple.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text card__store__title"> Até
                                <span>20%</span> de desconto</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card card__store">
                        <div class="card__store__image">
                            <img class="img-fluid" src="../img/stores/fast.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text card__store__title"> Promoção</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card card__store">
                        <div class="card__store__image">
                            <img class="img-fluid" src="../img/stores/extra.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text card__store__title"> Até
                                <span>40%</span> de desconto</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card card__store">
                        <div class="card__store__image">
                            <img class="img-fluid" src="../img/stores/magazineluiza.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text card__store__title"> Promoção</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card card__store">
                        <div class="card__store__image">
                            <img class="img-fluid" src="../img/stores/netshoes.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text card__store__title"> Até
                                <span>15%</span> de desconto</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card card__store">
                        <div class="card__store__image">
                            <img class="img-fluid" src="../img/stores/bilheteria.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text card__store__title"> Até
                                <span>60%</span> de desconto</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card card__store">
                        <div class="card__store__image">
                            <img class="img-fluid" src="../img/stores/centauro.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text card__store__title"> Até
                                <span>20%</span> de desconto</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card card__store">
                        <div class="card__store__image">
                            <img class="img-fluid" src="../img/stores/britania.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text card__store__title"> Até
                                <span>30%</span> de desconto</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card card__store">
                        <div class="card__store__image">
                            <img class="img-fluid" src="../img/stores/mondial.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text card__store__title"> Até
                                <span>30%</span> de desconto</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card card__store">
                        <div class="card__store__image">
                            <img class="img-fluid" src="../img/stores/sony.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text card__store__title"> Até
                                <span>30%</span> de desconto</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card card__store">
                        <div class="card__store__image">
                            <img class="img-fluid" src="../img/stores/nespresso.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text card__store__title"> Até
                                <span>20%</span> de desconto</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card card__store">
                        <div class="card__store__image">
                            <img class="img-fluid" src="../img/stores/vivara.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text card__store__title"> Até
                                <span>20%</span> de desconto</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card card__store">
                        <div class="card__store__image">
                            <img class="img-fluid" src="../img/stores/saraiva.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text card__store__title"> Até
                                <span>10%</span> de desconto</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="card card__store">
                        <div class="card__store__image">
                            <img class="img-fluid" src="../img/stores/subway.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text card__store__title"> Até
                                <span>10%</span> de desconto</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center mt-4 mt-lg-5">
                    <a class="btn btn--lg btn--blue" href="javascript:void(0);" data-toggle="modal" data-target="#formLidery">Quero ter as vantagens lidery</a>
                </div>

            </div>
        </div>
    </section>

    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto" data-hidden data-revel="animated fadeInDown">
                    <h2 class="categories__title">Confira as principais categorias de produtos em promoção</h2>

                    <div class="row">
                        <div class="col-6 col-md-3">
                            <ul class="categories__list">
                                <li>
                                    <a class="categories__list__link" href="javascript:void(0);">
                                        <i class="fas fa-tachometer-alt mr-2"></i>
                                        <span>Automotivo</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="categories__list__link" href="javascript:void(0);">
                                        <i class="fas fa-utensils mr-2"></i>
                                        <span>Alimentação</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="categories__list__link" href="javascript:void(0);">
                                        <i class="fas fa-graduation-cap mr-2"></i>
                                        <span>Educação</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <ul class="categories__list">
                                <li>
                                    <a class="categories__list__link" href="javascript:void(0);">
                                        <i class="fas fa-child mr-2"></i>
                                        <span>Bebês e Crianças</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="categories__list__link" href="javascript:void(0);">
                                        <i class="fas fa-theater-masks mr-2"></i>
                                        <span>Lazer</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="categories__list__link" href="javascript:void(0);">
                                        <i class="fas fa-plane-departure mr-2"></i>
                                        <span>Turismo</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <ul class="categories__list">
                                <li>
                                    <a class="categories__list__link" href="javascript:void(0);">
                                        <i class="fas fa-laptop mr-2"></i>
                                        <span>Eletro</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="categories__list__link" href="javascript:void(0);">
                                        <i class="far fa-heart mr-2"></i>
                                        <span>Saúde e Bem Estar</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="categories__list__link" href="javascript:void(0);">
                                        <i class="fas fa-wrench mr-2"></i>
                                        <span>Serviços</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <ul class="categories__list">
                                <li>
                                    <a class="categories__list__link" href="javascript:void(0);">
                                        <i class="fas fa-tshirt mr-2"></i>
                                        <span>Moda</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="categories__list__link" href="javascript:void(0);">
                                        <i class="fas fa-dumbbell mr-2"></i>
                                        <span>Fitness</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="categories__list__link" href="javascript:void(0);">
                                        <i class="fas fa-store mr-2"></i>
                                        <span>Loja Virtual</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="join">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto" data-hidden data-revel="animated fadeInDown delay-0-5s">
                    <h3 class="join__subtitle" scroll>Faça parte</h3>
                    <h2 class="join__title">Confira como é simples e prático!</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 text-center mb-4 px-5" data-hidden data-revel="animated zoomInDown">
                    <img src="../img/icons/ic-join-1.png" alt="">
                    <h2 class="join__title mb-3">Associe-se</h2>
                    <h3 class="join__description">Faça seu cadastro em nosso site. É rápido e seguro!</h3>
                </div>
                <div class="col-lg-4 text-center mb-4 px-5" data-hidden data-revel="animated zoomInDown delay-0-5s">
                    <img src="../img/icons/ic-join-2.png" alt="">
                    <h2 class="join__title mb-3">Acesse</h2>
                    <h3 class="join__description">Você pode fazer o seu login em nosso site ou baixar o APP em seu celular.
                    </h3>
                </div>
                <div class="col-lg-4 text-center mb-4 px-5" data-hidden data-revel="animated zoomInDown delay-1s">
                    <img src="../img/icons/ic-join-3.png" alt="">
                    <h2 class="join__title mb-3">Escolha</h2>
                    <h3 class="join__description">Acesse nossa plataforma de benefícios para comprar com descontos nas melhores lojas.</h3>
                </div>
                <div class="col-lg-4 text-center mb-4 px-5" data-hidden data-revel="animated zoomInDown delay-1s">
                    <img src="../img/icons/ic-pig.png" alt="">
                    <h2 class="join__title mb-3">Aproveite</h2>
                    <h3 class="join__description">Aproveite a grana extra para investir em outras prioridades da sua vida.
                    </h3>
                </div>
                <div class="col-lg-4 text-center mb-4 px-5" data-hidden data-revel="animated zoomInDown delay-1s">
                    <img src="../img/icons/ic-join-5.png" alt="">
                    <h2 class="join__title mb-3">Economize</h2>
                    <h3 class="join__description">Compra feita com sucesso e muito mais economia para o seu bolso!</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="call__mkt">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-hidden data-revel="animated fadeInDown">
                    <h2 class="call__mkt__title">Uma plataforma cheia de descontos</h2>
                    <h3 class="call__mkt__subtitle mb-1">Em nossa plataforma exclusiva, você tem acesso a centenas de produtos e serviços com preços exclusivos.</h3>
                    <h3 class="call__mkt__subtitle">O Clube de Vantagens Lidery te ajuda a comprar tudo o que você precisa, sem gastar muito!</h3>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <img class="d-none d-lg-block img-fluid w-100" src="../img/vitrines/mkt-discount.jpg" alt="">
                    <img class="d-block d-lg-none img-fluid w-100" src="../img/vitrines/mkt-discount-mobile.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="call__mkt">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto" data-hidden data-revel="animated fadeInDown">
                    <h2 class="call__mkt__title call__mkt__title--two">Coloque na ponta do lápis</h2>
                    <h3 class="call__mkt__subtitle call__mkt__subtitle--two">Confira a economia que os nossos associados tem com o Clube de Vantagens Lidery!</h3>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <img class="img-fluid mx-auto d-none d-md-block" src="../img/vitrines/mkt-discount-02.jpg" alt="">
                    <img class="img-fluid mx-auto d-block d-md-none" src="../img/vitrines/mkt-discount-02-mobile.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="benefits__mkt">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="benefits__mkt__title">Além do clube de vantagens, você tem direito a outros benefícios!</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-5 text-center">
                    <img class="d-none d-md-inline-block" src="../img/vitrines/woman-mkt.jpg" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <a class="text-decoration-none" href="#!/seguro-acidentes-pessoais">
                                <div class="card card__benefits shadow">
                                    <img class="card-img-top" src="../img/icons/ic-seguro.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title underline--blue">Seguro Acidentes Pessoais</h5>
                                        <p class="card-text"> Seguro Acidentes Pessoais de até R$10 mil.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-lg-6">
                            <a class="text-decoration-none" href="#!/sorte-premiada">
                                <div class="card card__benefits shadow">
                                    <img class="card-img-top" src="../img/icons/ic-sorte.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title underline--green">Sorte Premiada</h5>
                                        <p class="card-text"> Concorra à R$ 50 mil todo mês!</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 text-center">
                            <a class="btn btn--lg btn--blue mt-4 mt-md-5" href="javascript:void(0);" data-toggle="modal" data-target="#formLidery">Quero ter as vantagens lidery</a>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="contact" ng-controller="contactCtrl">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto" data-hidden data-revel="animated fadeInDown">
                    <h3 class="contact__subtitle">Contato</h3>
                    <h2 class="contact__title">VAMOS CONVERSAR?</h2>
                    <div class="alert alert-success" role="alert" ng-if="contactCtrl.send">
                        Sua mensagem foi enviada com sucesso.
                    </div>

                    <form angular-validator-submit="mailer()" name="contactForm" novalidate angular-validator>
                        <div class="form-row">
                            <div class="form-group col-md-6 pr-md-3">
                                <label for="name">Nome</label>
                                <input id="name" name="name" class="form-control" ng-model="contact.name" required-message="'Campo obrigatório'" validate-on="dirty"
                                    required>
                            </div>

                            <div class="form-group col-md-6 pl-md-3">
                                <label for="email">E-mail</label>
                                <input id="email" type="email" name="email" class="form-control" ng-model="contact.email" invalid-message="'Digite um e-mail válido'"
                                    required-message="'Campo obrigatório'" validate-on="dirty" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 pr-md-3">
                                <label for="cel">Telefone</label>
                                <input type="text" id="cel" name="cel" class="form-control" ng-model="contact.cel" required-message="'Campo obrigatório'"
                                    invalid-message="'Número inválido'" validate-on="dirty" ui-br-phone-number-mask required>
                            </div>
                            <div class="form-group col-md-6 pl-md-3">
                                <label for="subject">Assunto</label>
                                <input id="subject" name="subject" class="form-control" ng-model="contact.subject" required-message="'Campo obrigatório'"
                                    validate-on="dirty" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message">Mensagem</label>
                            <textarea class="form-control" id="message" rows="5" name="message" ng-model="contact.message" required-message="'Campo obrigatório'"
                                validate-on="dirty" required></textarea>
                        </div>
                        <button type="submit" class="btn btn--blue mr-3">Enviar</button>
                    </form>

                </div>
            </div>
        </div>
    </section>
</main>