<main class="main">
    <section class="banner banner--seguro-acidentes-pessoais">
        <div class="container">
            <div class="row banner__translate--y">
                <div class="col-12 col-lg-7 mb-2">
                    <h1 class="banner__title--home" data-hidden data-revel="animated fadeInDown">Seguro Acidentes
                        Pessoais</h1>
                    <h2 class="banner__subtitle mb-2" data-hidden data-revel="animated fadeInDown delay-1s">Com o Seguro AP você pode contar com até R$10 mil para garantir mais tranquilidade na sua vida.</h2>
                </div>
                <div class="col-12 mt-3 mt-lg-0" data-hidden data-revel="animated fadeInDown delay-0-5s">
                    <a class="btn btn__outline--white d-none d-md-inline-block" href="javascript:void(0);" data-toggle="modal"
                        data-target="#formLidery">Quero conhecer o seguro acidentes pessoais</a>
                </div>

            </div>
        </div>
    </section>

    <section class="showcase">
        <div class="row">
            <div class="col-md-6 showcase__one">
                <div class="showcase__card showcase__card--ap p-2 p-sm-4">
                    <div class="showcase__card__header">
                        <div class="showcase__card__image">
                            <img class="mr-4" src="../img/icons/ic-seguro.png" alt="Card image cap">
                        </div>
                        <div class="showcase__card__title showcase__card__title--blue">
                            <span>Seguro</span>
                            <span class="showcase__card__title__extrabold">Acidentes Pessoais</span>
                        </div>
                    </div>
                    <div class="showcase__card__body"></div>
                    <p class="showcase__description showcase__description--regular">A Lidery disponibiliza o Seguro
                        Acidentes Pessoais de até R$10 mil em caso de morte ou invalidez. Vale a pena se prevenir!</p>
                </div>
            </div>
            <div class="col-md-6 showcase__two">
                <div class="row">
                    <div class="col-12 text-center" data-hidden data-revel="animated fadeInDown">
                        <img class="img-fluid" src="../img/icons/men.png" alt="">
                    </div>
                    <div class="col-12 text-center">
                        <a class="btn btn--lg btn--blue mt-3 mt-md-5" href="javascript:void(0);" data-toggle="modal"
                            data-target="#formLidery">Quero ter as vantagens lidery</a>
                    </div>
                </div>


            </div>
        </div>
        <div class="container">
            <div class="row my-4">
                <div class="col-md-6 mb-4 mb-md-0" data-hidden data-revel="animated fadeInLeft">
                    <h3 class="showcase__title showcase__title--blue">Morte acidental</h3>
                    <p class="showcase__description">Você pode contar com uma indenização no caso de morte em
                        decorrência de acidente pessoal. Com isso, sua
                        família recebe todo o amparo necessário neste momento difícil.</p>
                </div>
                <div class="col-md-6" data-hidden data-revel="animated fadeInLeft delay-0-5s">
                    <h3 class="showcase__title showcase__title--blue">Invalidez por acidente</h3>
                    <p class="showcase__description">O Seguro Acidentes Pessoais também oferece cobertura em caso de
                        invalidez permanente, total ou parcial.
                        Conte com a segurança que merece em caso de imprevistos.</p>
                </div>
            </div>
        </div>

    </section>

    <section class="showcase__mkt">
        <div class="container">
            <div class="col-12">
                <h2 class="showcase__mkt__title">POR QUE TER O SEGURO ACIDENTES PESSOAIS?</h2>
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="showcase__mkt__cardtitle">MAIS SEGURANÇA PARA VOCÊ</h3>
                        <p class="showcase__mkt__carddescription">Cuide do seu futuro, nunca saberemos quando algo pode
                            acontecer. Previna-se!</p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="showcase__mkt__cardtitle">MAIS VANTAGENS NA SUA VIDA</h3>
                        <p class="showcase__mkt__carddescription">Com o Seguro Acidentes Pessoais você tem mais
                            tranquilidade em sua carreira profissional. Garanta
                            já o seu!</p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="showcase__mkt__cardtitle">É RÁPIDO E SIMPLES</h3>
                        <p class="showcase__mkt__carddescription"> Faça o seu cadastro em nosso site para ter acesso ao
                            seu Seguro Acidentes Pessoais e todos os benefícios
                            de ser Lidery!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="join">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto" data-hidden data-revel="animated fadeInDown">
                    <h3 class="join__subtitle" scroll>Acesso</h3>
                    <h2 class="join__title">COMO FAÇO PARA TER ACESSO AO SEGURO AP?</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 text-center mb-4 px-5" data-hidden data-revel="animated zoomInDown">
                    <img src="../img/icons/ic-join-1.png" alt="">
                    <h2 class="join__title mb-3">Associe-se</h2>
                    <h3 class="join__description">Faça seu cadastro em nosso site para ter acesso ao seu Seguro
                        Acidentes Pessoais. É rápido e seguro!</h3>
                </div>
                <div class="col-lg-4 text-center mb-4 px-5" data-hidden data-revel="animated zoomInDown delay-0-5s">
                    <img src="../img/icons/ic-seguro-2.png" alt="">
                    <h2 class="join__title mb-3">Receba seu certificado</h2>
                    <h3 class="join__description">Enviaremos em seu e-mail o Certificado Individual do Seguro e mais
                        detalhes de todos os benefícios de
                        ser
                        <span class="open-bold">Lidery</span>.</h3>
                </div>
                <div class="col-lg-4 text-center mb-4 px-5" data-hidden data-revel="animated zoomInDown delay-1s">
                    <img src="../img/icons/ic-cell.png" alt="">
                    <h2 class="join__title mb-3">Acione o benefício</h2>
                    <h3 class="join__description">Se precisar acionar o seu benefício, você ou sua família podem entrar
                        em contato com a
                        <span class="open-bold">Lidery</span> por e-mail ou telefone.</h3>
                </div>

            </div>
        </div>
    </section>

    <section class="benefits__mkt">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="benefits__mkt__title">Além do Seguro AP, você tem direito a outros benefícios!</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-5 text-center">
                    <img class="d-none d-md-inline-block" src="../img/vitrines/woman-mkt.jpg" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <a class="text-decoration-none" href="#!/clube-de-vantagem">
                                <div class="card card__benefits">
                                    <img class="card-img-top" src="../img/icons/ic-vantagens.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title underline--purple">Clube de Vantagens</h5>
                                        <p class="card-text"> Até 60% de descontos em lojas exlusivas!</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-lg-6">
                            <a class="text-decoration-none" href="#!/sorte-premiada">
                                <div class="card card__benefits shadow">
                                    <img class="card-img-top" src="../img/icons/ic-sorte.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title underline--green">Sorte Premiada</h5>
                                        <p class="card-text"> Concorra à R$50 mil todo mês!</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 text-center">
                            <a class="btn btn--lg btn--blue mt-4 mt-md-5" href="javascript:void(0);" data-toggle="modal"
                                data-target="#formLidery">Quero me associar agora</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact" ng-controller="contactCtrl">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto" data-hidden data-revel="animated fadeInDown">
                    <h3 class="contact__subtitle">Contato</h3>
                    <h2 class="contact__title">VAMOS CONVERSAR?</h2>
                    <div class="alert alert-success" role="alert" ng-if="contactCtrl.send">
                        Sua mensagem foi enviada com sucesso.
                    </div>

                    <form angular-validator-submit="mailer()" name="contactForm" novalidate angular-validator>
                        <div class="form-row">
                            <div class="form-group col-md-6 pr-md-3">
                                <label for="name">Nome</label>
                                <input id="name" name="name" class="form-control" ng-model="contact.name"
                                    required-message="'Campo obrigatório'" validate-on="dirty" required>
                            </div>

                            <div class="form-group col-md-6 pl-md-3">
                                <label for="email">E-mail</label>
                                <input id="email" type="email" name="email" class="form-control" ng-model="contact.email"
                                    invalid-message="'Digite um e-mail válido'" required-message="'Campo obrigatório'"
                                    validate-on="dirty" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 pr-md-3">
                                <label for="cel">Telefone</label>
                                <input type="text" id="cel" name="cel" class="form-control" ng-model="contact.cel"
                                    required-message="'Campo obrigatório'" invalid-message="'Número inválido'"
                                    validate-on="dirty" ui-br-phone-number-mask required>
                            </div>
                            <div class="form-group col-md-6 pl-md-3">
                                <label for="subject">Assunto</label>
                                <input id="subject" name="subject" class="form-control" ng-model="contact.subject"
                                    required-message="'Campo obrigatório'" validate-on="dirty" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message">Mensagem</label>
                            <textarea class="form-control" id="message" rows="5" name="message" ng-model="contact.message"
                                required-message="'Campo obrigatório'" validate-on="dirty" required></textarea>
                        </div>
                        <button type="submit" class="btn btn--blue mr-3">Enviar</button>
                    </form>

                </div>
            </div>
        </div>
    </section>
</main>