<main class="main">
    <section class="banner banner--sorte-premiada">
        <div class="container">
            <div class="row banner__translate--y">
                <div class="col-12 col-lg-7 mb-2">
                    <h1 class="banner__title" data-hidden data-revel="animated fadeInDown">Sorte Premiada</h1>
                    <h2 class="banner__subtitle" data-hidden data-revel="animated fadeInDown delay-0-5s">Concorra a
                        R$50 mil todo mês!</h2>
                </div>
                <div class="col-12 mt-3 mt-lg-0" data-hidden data-revel="animated fadeInDown delay-1s">
                    <a class="btn btn__outline--white d-none d-md-inline-block" href="javascript:void(0);" data-toggle="modal"
                        data-target="#formLidery">Quero participar do sorte premiada</a>
                </div>

            </div>
        </div>
    </section>

    <section class="showcase">
        <div class="row">
            <div class="col-sm-6 showcase__one">
                <div class="showcase__card">
                    <div class="showcase__card__header">
                        <div class="showcase__card__image">
                            <img class="mr-4" src="../img/icons/ic-sorte.png" alt="Card image cap">
                        </div>
                        <div class="showcase__card__title showcase__card__inline showcase__card__title--green">
                            <span>Sorte</span>
                            <span class="showcase__card__inline__extrabold">Premiada</span>
                        </div>
                    </div>
                    <div class="showcase__card__body"></div>
                    <p class="showcase__description showcase__description--regular">Quem é Lidery sempre pode ganhar
                        mais! Concorra a R$50 mil todo mês e garanta mais sorte para sua
                        vida!
                    </p>
                </div>
            </div>
            <div class="col-sm-6 showcase__two showcase__two__luck showcase__two--translate-0" data-hidden data-revel="animated fadeInDown">
                <div class="row">
                    <div class="col-12 text-center text-md-left">
                        <h3 class="showcase__two__luck__title">Participe de sorteios mensais no valor de </h3>
                        <h2 class="showcase__two__luck__subtitle">R$50 mil</h2>
                    </div>
                    <div class="col-12 text-center text-md-left">
                        <a class="btn btn--lg btn--blue mt-3" href="javascript:void(0);" data-toggle="modal"
                            data-target="#formLidery">Quero ter as vantagens lidery</a>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section class="gradient__mkt">
        <div class="container">
            <div class="row">
                <div class="col-12" data-hidden data-revel="animated fadeInDown delay-0-5s">
                    <h2 class="gradient__mkt__title">Já pensou o que faria com</h2>
                    <h2 class="gradient__mkt__subtitle">R$50 mil?</h2>
                </div>
                <div class="col-12 mt-5 text-center">
                    <img class="img-fluid" src="../img/icons/woman-luck.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="join">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto" data-hidden data-revel="animated fadeInDown">
                    <h3 class="join__subtitle" scroll>Participar</h3>
                    <h2 class="join__title">PARTICIPAR DO SORTE PREMIADA É MUITO SIMPLES!</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 text-center mb-4 px-5" data-hidden data-revel="animated zoomInDown">
                    <img src="../img/icons/ic-join-1.png" alt="">
                    <h2 class="join__title mb-3">Associe-se</h2>
                    <h3 class="join__description">Faça seu cadastro em nosso site. É rápido e seguro!</h3>
                </div>
                <div class="col-lg-4 text-center mb-4 px-5" data-hidden data-revel="animated zoomInDown delay-0-5s">
                    <img src="../img/icons/ic-sorte-01.png" alt="">
                    <h2 class="join__title mb-3">Receba seu número da sorte</h2>
                    <h3 class="join__description">Enviaremos em seu e-mail o seu número da sorte e mais detalhes de
                        todos os benefícios de ser
                        <span class="open-bold">Lidery</span>!</h3>
                </div>
                <div class="col-lg-4 text-center mb-4 px-5" data-hidden data-revel="animated zoomInDown delay-1s">
                    <img src="../img/icons/ic-sorte-02.png" alt="">
                    <h2 class="join__title mb-3">Cruze os dedos e boa sorte!</h2>
                    <h3 class="join__description">Os sorteios são realizados pela Loteria Federal. Fique na torcida
                        para ser o sortudo(a) do mês!</h3>
                </div>

            </div>
        </div>
    </section>

    <section class="benefits__mkt">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="benefits__mkt__title">Além do sorte premiada, você tem direito a outros benefícios!</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-5 text-center">
                    <img src="../img/vitrines/woman-mkt.jpg" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <a class="text-decoration-none" href="#!/clube-de-vantagem">
                                <div class="card card__benefits">
                                    <img class="card-img-top" src="../img/icons/ic-vantagens.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title underline--purple">Clube de Vantagens</h5>
                                        <p class="card-text"> Até 60% de descontos em lojas exlusivas!</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-lg-6">
                            <a class="text-decoration-none" href="#!/seguro-acidentes-pessoais">
                                <div class="card card__benefits">
                                    <img class="card-img-top" src="../img/icons/ic-seguro.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title underline--blue">Seguro Acidentes Pessoais</h5>
                                        <p class="card-text"> Seguro Acidentes Pessoais de até R$10 mil.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 text-center">
                            <a class="btn btn--lg btn--blue mt-4 mt-md-5" href="javascript:void(0);" data-toggle="modal"
                                data-target="#formLidery">Quero ter as vantagens lidery</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact" ng-controller="contactCtrl">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto" data-hidden data-revel="animated fadeInDown">
                    <h3 class="contact__subtitle">Contato</h3>
                    <h2 class="contact__title">VAMOS CONVERSAR?</h2>
                    <div class="alert alert-success" role="alert" ng-if="contactCtrl.send">
                        Sua mensagem foi enviada com sucesso.
                    </div>

                    <form angular-validator-submit="mailer()" name="contactForm" novalidate angular-validator>
                        <div class="form-row">
                            <div class="form-group col-md-6 pr-md-3">
                                <label for="name">Nome</label>
                                <input id="name" name="name" class="form-control" ng-model="contact.name"
                                    required-message="'Campo obrigatório'" validate-on="dirty" required>
                            </div>

                            <div class="form-group col-md-6 pl-md-3">
                                <label for="email">E-mail</label>
                                <input id="email" type="email" name="email" class="form-control" ng-model="contact.email"
                                    invalid-message="'Digite um e-mail válido'" required-message="'Campo obrigatório'"
                                    validate-on="dirty" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 pr-md-3">
                                <label for="cel">Telefone</label>
                                <input type="text" id="cel" name="cel" class="form-control" ng-model="contact.cel"
                                    required-message="'Campo obrigatório'" invalid-message="'Número inválido'"
                                    validate-on="dirty" ui-br-phone-number-mask required>
                            </div>
                            <div class="form-group col-md-6 pl-md-3">
                                <label for="subject">Assunto</label>
                                <input id="subject" name="subject" class="form-control" ng-model="contact.subject"
                                    required-message="'Campo obrigatório'" validate-on="dirty" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message">Mensagem</label>
                            <textarea class="form-control" id="message" rows="5" name="message" ng-model="contact.message"
                                required-message="'Campo obrigatório'" validate-on="dirty" required></textarea>
                        </div>
                        <button type="submit" class="btn btn--blue mr-3">Enviar</button>
                    </form>

                </div>
            </div>
        </div>
    </section>
</main>