<main>
    <section class="banner banner--about-us">
        <div class="container">
            <div class="row banner__translate--y">
                <div class="col-12 col-lg-7 mb-2">
                    <h1 class="banner__title" data-hidden data-revel="animated fadeInDown">Quem Somos</h1>
                    <h2 class="banner__subtitle" data-hidden data-revel="animated fadeInDown delay-0-5s">Conectamos você aos melhores benefícios para a sua vida!</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="about__us">
        <div class="container container-fluid-sm">
            <div class="row py-md-5" data-hidden data-revel="animated slideInLeft">
                <div class="col-lg-6 p-0">
                    <img class="img-fluid w-100" src="../img/vitrines/corp-lidery.jpg" alt="">
                </div>
                <div class="col-lg-6 px-md-5 about__us__paragraph">
                    <p>A
                        <span class="open-bold">Lidery</span> é uma associação que nasceu com o propósito de ser uma alternativa eficiente e justa
                        para todos que desejam soluções em produtos e serviços essenciais. Nossa principal finalidade é oferecer
                        os melhores benefícios aos nossos associados. Tudo com a tranquilidade, conforto e bem-estar que
                        você merece.</p>
                    <p>Queremos encontrar as melhores soluções para superar os desafios do seu dia a dia. Fazemos isso através
                        do Associativismo, que corresponde a união de pessoas para o exercício de uma atividade lícita e
                        sem fins lucrativos, para promoção do acesso a benefícios e vantagens exclusivas aos seus participantes.</p>
                </div>
            </div>

            <h2 class="about__us__title about__us__title--blue-light">Ter um propósito é dar significado as nossas ações.
                <br>Conheça o que move nosso trabalho!</h2>

            <div class="row" data-hidden data-revel="animated slideInRight">
                <div class="col-lg-6 p-0 order-1">
                    <img class="img-fluid w-100" src="../img/vitrines/corp-lidery-02.jpg" alt="">
                </div>
                <div class="col-lg-6 p-md-5 about__us__paragraph order-0">
                    <h3 class="about__us__underline mt-md-5">Nossa missão</h3>
                    <p>Oferecer amparo aos nossos associados por meio de esforços conjuntos, com soluções simples e eficientes
                        através de Programas de Auxílio Mútuo.</p>
                    <h3 class="about__us__underline">Nossa visão</h3>
                    <p>Ser líder em confiança e soluções inovadoras para a construção de um relacionamento sólido com os nossos associados. Queremos democratizar o acesso aos benefícios sociais para uma melhor qualidade de vida.</p>
                </div>
            </div>

            <div class="row" data-hidden data-revel="animated slideInLeft">
                <div class="col-lg-6 p-0 order-1 order-lg-0">
                    <img class="img-fluid w-100" src="../img/vitrines/corp-lidery-03.jpg" alt="">
                </div>
                <div class="col-lg-6 p-md-5 about__us__paragraph order-0 order-lg-1">
                    <h3 class="about__us__underline">Nossos valores</h3>
                    <p>
                        <span class="open-bold mt-3 d-inline-block">Fé:</span> Confiamos nos princípios e valores cristãos.</p>
                    <p>
                        <span class="open-bold">Simplicidade:</span> Somos descomplicados, claros e objetivos.</p>
                    <p>
                        <span class="open-bold">Lealdade:</span> Tratamos os outros como gostaríamos de ser tratados.</p>
                    <p>
                        <span class="open-bold">Unidade:</span> Acreditamos que a união faz a força.</p>
                    <p>
                        <span class="open-bold">Eficiência:</span> Servimos com respeito, compromisso e pontualidade.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="contact" ng-controller="contactCtrl">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto" data-hidden data-revel="animated fadeInDown">
                    <h3 class="contact__subtitle">Contato</h3>
                    <h2 class="contact__title">VAMOS CONVERSAR?</h2>
                    <div class="alert alert-success" role="alert" ng-if="contactCtrl.send">
                        Sua mensagem foi enviada com sucesso.
                    </div>

                    <form angular-validator-submit="mailer()" name="contactForm" novalidate angular-validator>
                        <div class="form-row">
                            <div class="form-group col-md-6 pr-md-3">
                                <label for="name">Nome</label>
                                <input id="name" name="name" class="form-control" ng-model="contact.name" required-message="'Campo obrigatório'" validate-on="dirty"
                                    required>
                            </div>

                            <div class="form-group col-md-6 pl-md-3">
                                <label for="email">E-mail</label>
                                <input id="email" type="email" name="email" class="form-control" ng-model="contact.email" invalid-message="'Digite um e-mail válido'"
                                    required-message="'Campo obrigatório'" validate-on="dirty" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 pr-md-3">
                                <label for="cel">Telefone</label>
                                <input type="text" id="cel" name="cel" class="form-control" ng-model="contact.cel" required-message="'Campo obrigatório'"
                                    invalid-message="'Número inválido'" validate-on="dirty" ui-br-phone-number-mask required>
                            </div>
                            <div class="form-group col-md-6 pl-md-3">
                                <label for="subject">Assunto</label>
                                <input id="subject" name="subject" class="form-control" ng-model="contact.subject" required-message="'Campo obrigatório'"
                                    validate-on="dirty" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message">Mensagem</label>
                            <textarea class="form-control" id="message" rows="5" name="message" ng-model="contact.message" required-message="'Campo obrigatório'"
                                validate-on="dirty" required></textarea>
                        </div>
                        <button type="submit" class="btn btn--blue mr-3">Enviar</button>
                    </form>

                </div>
            </div>
        </div>
    </section>
</main>