<section class="banner banner--home">
	<div class="container">
		<div class="row banner__translate--y">
			<div class="col-12 col-lg-7 mb-2">
				<h1 class="banner__title--home" data-hidden data-revel="animated fadeInDown">Quer mais vantagens
					<br>e economia para a sua vida?</h1>
				<h2 class="banner__subtitle--home" data-hidden data-revel="animated fadeInDown delay-1s">Vem ser Lidery!</h2>
			</div>
			<div class="col-12 mt-3 mt-lg-0" data-hidden data-revel="animated fadeInDown delay-2s">
				<a class="btn btn--lg btn--purple" href="javascript:void(0);" data-toggle="modal" data-target="#formLidery">Quero me associar agora</a>
			</div>

		</div>
	</div>
</section>

<section class="video">
	<div class="container">
		<div class="col-12">
			<div class="video__frame d-none d-md-block" ng-click="onClickVideo()">
				<div class="video__box">
					<img class="img-fluid" src="../img/Thumbnail.jpg" alt="">
				</div>
			</div>

			<div class='video__frame embed-responsive embed-responsive-16by9 d-block d-md-none'>
				<iframe class='embed-responsive-item' id='video' src='https://www.youtube.com/embed/-Lr8A6r4pOk' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
			</div>

		</div>
	</div>
</section>

<section class="benefits">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="benefits__title">Aproveite todos os benefícios de ser Lidery!</h2>
			</div>
			<div class="col-12 col-lg-4" data-hidden data-revel="animated fadeInDown">
				<a class="text-decoration-none" href="#!/clube-de-vantagem">
					<div class="card card__benefits">
						<img class="card-img-top" src="../img/icons/ic-vantagens.png" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title underline--purple">Clube de Vantagens</h5>
							<p class="card-text">Compre com até 60% de desconto nas melhores lojas.</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-12 col-lg-4" data-hidden data-revel="animated fadeInDown delay-0-5s">
				<a class="text-decoration-none" href="#!/seguro-acidentes-pessoais">
					<div class="card card__benefits">
						<img class="card-img-top" src="../img/icons/ic-seguro.png" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title underline--blue">Seguro Acidentes Pessoais</h5>
							<p class="card-text">Seguro Acidentes Pessoais de até R$10 mil.</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-12 col-lg-4" data-hidden data-revel="animated fadeInDown delay-1s">
				<a class="text-decoration-none" href="#!/sorte-premiada">
					<div class="card card__benefits">
						<img class="card-img-top" src="../img/icons/ic-sorte.png" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title underline--green">Sorte Premiada</h5>
							<p class="card-text">Concorra à R$50 mil todo mês!</p>
						</div>
					</div>
				</a>
			</div>
		</div>

	</div>
</section>

<section class="benefits__numbers">
	<div class="container-fluid">
		<div class="row">
			<div class="col-6 col-lg-3" data-hidden data-revel="animated fadeInLeft">
				<div class="card card__numbers">
					<div class="card__numbers__icon">
						<img src="../img/icons/ic-stores.svg" alt="">
					</div>
					<div class="card__numbers__title">
						<span>300</span>
					</div>
					<div class="card__numbers__subtitle">
						<p>lojas credenciadas</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-3" data-hidden data-revel="animated fadeInLeft delay-0-5s">
				<div class="card card__numbers">
					<div class="card__numbers__icon">
						<img src="../img/icons/ic-hand.svg" alt="">
					</div>
					<div class="card__numbers__title">
						<span>
							<span class="card__numbers__title--small">Até</span> 60%</span>
					</div>
					<div class="card__numbers__subtitle">
						<p>de descontos exclusivos</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-3" data-hidden data-revel="animated fadeInLeft delay-1s">
				<div class="card card__numbers">
					<div class="card__numbers__icon">
						<img src="../img/icons/ic-product.svg" alt="">
					</div>
					<div class="card__numbers__title">
						<span>12</span>
					</div>
					<div class="card__numbers__subtitle">
						<p>categorias de produtos</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-3" data-hidden data-revel="animated fadeInLeft delay-1-5s">
				<div class="card card__numbers">
					<div class="card__numbers__icon">
						<img src="../img/icons/ic-country.svg" alt="">
					</div>
					<div class="card__numbers__title">
						<span>7</span>
					</div>
					<div class="card__numbers__subtitle">
						<p>países da América Latina</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="discount">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 m-auto">
				<h2 class="discount__title">Compre com desconto nas melhores lojas do mercado</h2>
				<h3 class="discount__subtitle mb-2">Com o <span class="open-bold">Clube de Vantagens Lidery</span>, você tem acesso a promoções exclusivas.</h3>
				<h3 class="discount__subtitle">Conheça algumas lojas parceiras para comprar tudo o que você precisa com desconto!</h3>
			</div>
		</div>
		<div class="row d-flex justify-content-center">
			<div class="col-6 col-sm-4 col-lg-3">
				<div class="card card__store">
					<div class="card__store__image">
						<img class="img-fluid" src="../img/stores/burguer-king.png" alt="Card image cap">
					</div>
					<div class="card-body">
						<p class="card-text card__store__title"> Promoção</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<div class="card card__store">
					<div class="card__store__image">
						<img class="img-fluid" src="../img/stores/casas-bahia.png" alt="Card image cap">
					</div>
					<div class="card-body">
						<p class="card-text card__store__title"> Até
							<span>40%</span> de desconto</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<div class="card card__store">
					<div class="card__store__image">
						<img class="img-fluid" src="../img/stores/apple.png" alt="Card image cap">
					</div>
					<div class="card-body">
						<p class="card-text card__store__title"> Até
							<span>20%</span> de desconto</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<div class="card card__store">
					<div class="card__store__image">
						<img class="img-fluid" src="../img/stores/fast.png" alt="Card image cap">
					</div>
					<div class="card-body">
						<p class="card-text card__store__title"> Promoção</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<div class="card card__store">
					<div class="card__store__image">
						<img class="img-fluid" src="../img/stores/extra.png" alt="Card image cap">
					</div>
					<div class="card-body">
						<p class="card-text card__store__title"> Até
							<span>40%</span> de desconto</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<div class="card card__store">
					<div class="card__store__image">
						<img class="img-fluid" src="../img/stores/magazineluiza.png" alt="Card image cap">
					</div>
					<div class="card-body">
						<p class="card-text card__store__title"> Promoção</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<div class="card card__store">
					<div class="card__store__image">
						<img class="img-fluid" src="../img/stores/netshoes.png" alt="Card image cap">
					</div>
					<div class="card-body">
						<p class="card-text card__store__title"> Até
							<span>15%</span> de desconto</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<div class="card card__store">
					<div class="card__store__image">
						<img class="img-fluid" src="../img/stores/bilheteria.png" alt="Card image cap">
					</div>
					<div class="card-body">
						<p class="card-text card__store__title"> Até
							<span>60%</span> de desconto</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<div class="card card__store">
					<div class="card__store__image">
						<img class="img-fluid" src="../img/stores/centauro.png" alt="Card image cap">
					</div>
					<div class="card-body">
						<p class="card-text card__store__title"> Até
							<span>20%</span> de desconto</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<div class="card card__store">
					<div class="card__store__image">
						<img class="img-fluid" src="../img/stores/britania.png" alt="Card image cap">
					</div>
					<div class="card-body">
						<p class="card-text card__store__title"> Até
							<span>30%</span> de desconto</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<div class="card card__store">
					<div class="card__store__image">
						<img class="img-fluid" src="../img/stores/mondial.png" alt="Card image cap">
					</div>
					<div class="card-body">
						<p class="card-text card__store__title"> Até
							<span>30%</span> de desconto</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<div class="card card__store">
					<div class="card__store__image">
						<img class="img-fluid" src="../img/stores/sony.png" alt="Card image cap">
					</div>
					<div class="card-body">
						<p class="card-text card__store__title"> Até
							<span>30%</span> de desconto</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<div class="card card__store">
					<div class="card__store__image">
						<img class="img-fluid" src="../img/stores/nespresso.png" alt="Card image cap">
					</div>
					<div class="card-body">
						<p class="card-text card__store__title"> Até
							<span>20%</span> de desconto</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<div class="card card__store">
					<div class="card__store__image">
						<img class="img-fluid" src="../img/stores/vivara.png" alt="Card image cap">
					</div>
					<div class="card-body">
						<p class="card-text card__store__title"> Até
							<span>20%</span> de desconto</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<div class="card card__store">
					<div class="card__store__image">
						<img class="img-fluid" src="../img/stores/saraiva.png" alt="Card image cap">
					</div>
					<div class="card-body">
						<p class="card-text card__store__title"> Até
							<span>10%</span> de desconto</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-lg-3">
				<div class="card card__store">
					<div class="card__store__image">
						<img class="img-fluid" src="../img/stores/subway.png" alt="Card image cap">
					</div>
					<div class="card-body">
						<p class="card-text card__store__title"> Até
							<span>10%</span> de desconto</p>
					</div>
				</div>
			</div>
			<div class="col-12 text-center mt-4 mt-lg-5">
				<a class="btn btn--lg btn--blue" href="javascript:void(0);" data-toggle="modal" data-target="#formLidery">Quero ter
					as vantagens lidery</a>
			</div>

		</div>
	</div>
</section>

<section class="join">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 m-auto" data-hidden data-revel="animated fadeInDown">
				<h3 class="join__subtitle">Faça parte</h3>
				<h2 class="join__title">Confira como é simples e prático!</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 text-center mb-4 px-5" data-hidden data-revel="animated zoomInDown">
				<img src="../img/icons/ic-join-1.png" alt="">
				<h2 class="join__title mb-3">Associe-se</h2>
				<h3 class="join__description">Faça seu cadastro em nosso site. É rápido e seguro!</h3>
			</div>
			<div class="col-lg-4 text-center mb-4 px-5" data-hidden data-revel="animated zoomInDown delay-0-5s">
				<img src="../img/icons/ic-join-2.png" alt="">
				<h2 class="join__title mb-3">Pague</h2>
				<h3 class="join__description">Realize seu pagamento com cartão de crédito e aguarde a aprovação.</h3>
			</div>
			<div class="col-lg-4 text-center mb-4 px-5" data-hidden data-revel="animated zoomInDown delay-1s">
				<img src="../img/icons/ic-join-3.png" alt="">
				<h2 class="join__title mb-3">Aproveite</h2>
				<h3 class="join__description">Comece a utilizar os benefícios e aproveite todas as vantagens de ser
					<span class="open-bold">Lidery</span>!</h3>
			</div>
		</div>
	</div>
</section>

<section class="join__mkt">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 m-auto">
				<h2 class="join__mkt__title">TENHA TODOS OS BENEFÍCIOS</h2>
				<h2 class="join__mkt__title">POR APENAS R$9,90 MENSAIS</h2>
				<h3 class="join__mkt__description">+ TAXA DE ADESÃO DE R$14,90</h3>
				<a class="btn btn--lg btn--blue mt-4 mt-lg-5" href="javascript:void(0);" data-toggle="modal" data-target="#formLidery">Quero
					me associar agora</a>
			</div>
		</div>
	</div>
</section>

<section class="depoiments">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 m-auto" data-hidden data-revel="animated fadeInDown">
				<h3 class="depoiments__subtitle">Depoimentos</h3>
				<h2 class="depoiments__title">São muitas pessoas satisfeitas!</h2>
				<h3 class="depoiments__description">Confira o que os nossos associados dizem sobre a
					<span class="open-bold">Lidery</span>!</h3>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10 m-auto">
				<div class="d-none d-md-block">
					<swiper>
						<slides>
							<slide>
								<div class="row px-80">
									<div class="col-6">
										<div class="card card__depoiment">
											<img class="card-img-top" src="../img/icons/sr-osvaldo.png" alt="Card image cap">
											<div class="card-body">
												<p class="card__depoiment__title">Tenho o costume de usar sempre o cartão da Lidery para economizar nas viagens que faço com minha família. Faço a pesquisa das promoções pelo celular e vamos nos lugares mais próximos do hotel. Minha esposa já usa mais quando quer comprar alguma roupa. Então, gosto bastante dos benefícios porque acabo gastando menos do que eu imaginava</p>
												<p class="card__depoiment__bold">Sr. Osvaldo</p>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="card card__depoiment">
											<img class="card-img-top" src="../img/icons/dona-nana.png" alt="Card image cap">
											<div class="card-body">
												<p class="card__depoiment__title">Com o Clube de Vantagens da Lidery eu posso aproveitar as promoções exclusivas em uma variedade enorme de lojas. É muito prático ver as ofertas pelo celular, uso mais pra alimentação e para comprar roupas com um valor mais em conta. Fico sempre de olho nas novidades, é excelente!</p>
												<p class="card__depoiment__bold">Dona Naná</p>
											</div>
										</div>
									</div>
								</div>
							</slide>
							<slide>
								<div class="row px-80">
									<div class="col-6">
										<div class="card card__depoiment">
											<img class="card-img-top" src="../img/icons/saulo.png" alt="Card image cap">
											<div class="card-body">
												<p class="card__depoiment__title">Os descontos que consigo com o Clube de Vantagens valem muito a pena. Já recomendei a Lidery para dois amigos e eles também estão gostando. Consegui um valor muito bom em uma TV e celular que precisava trocar. Também uso muito para comer fora de casa com a minha esposa. Me ajuda a economizar bastante!</p>
												<p class="card__depoiment__bold">Saulo</p>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="card card__depoiment">
											<img class="card-img-top" src="../img/icons/uiara.png" alt="Card image cap">
											<div class="card-body">
												<p class="card__depoiment__title">Minha experiência com os benefícios da Lidery é muito boa. Comecei usando o cartão do Clube de Benefícios pra ganhar desconto na academia e no salão de beleza do meu bairro. Aí consigo me cuidar mais, sem pesar tanto no bolso no fim do mês. Fora a tranquilidade que tenho com o seguro AP, caso aconteça alguma coisa. Recomendo viu!</p>
												<p class="card__depoiment__bold">Uiara</p>
											</div>
										</div>
									</div>
								</div>
							</slide>
							<slide>
								<div class="row px-80">
									<div class="col-6">
										<div class="card card__depoiment">
											<img class="card-img-top" src="../img/icons/frances.png" alt="Card image cap">
											<div class="card-body">
												<p class="card__depoiment__title">Gosto bastante de assistir filmes com meu marido no final de semana. Com os descontos que a gente ganha no ingresso do cinema, conseguimos acompanhar mais os lançamentos. Também usamos muito o Clube de Vantagens para comer uma pizza no fds com um valor mais em conta. É muito bom!</p>
												<p class="card__depoiment__bold">Frances</p>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="card card__depoiment">
											<img class="card-img-top" src="../img/icons/amanda.png" alt="Card image cap">
											<div class="card-body">
												<p class="card__depoiment__title">O valor que eu pago para ter acesso ao Clube de Vantagens, compensa muito os gastos que eu tenho no mês. Tenho uma economia de pelo menos 25% no meu orçamento com a alimentação fora de casa. Fiquei surpresa com o tanto de promoções que tenho acesso, uso sempre que preciso.</p>
												<p class="card__depoiment__bold">Amanda</p>
											</div>
										</div>
									</div>
								</div>
							</slide>
						</slides>
						<prev></prev>
						<next></next>
						<pagination></pagination>
					</swiper>
				</div>
				<div class="d-block d-md-none">
					<swiper>
						<slides>
							<slide>
								<div class="row px-3">
									<div class="col-12">
										<div class="card card__depoiment">
											<img class="card-img-top" src="../img/icons/sr-osvaldo.png" alt="Card image cap">
											<div class="card-body">
												<p class="card__depoiment__title">Tenho o costume de usar sempre o cartão da Lidery para economizar nas
													viagens que faço com minha família. Faço
													a pesquisa das promoções pelo celular e vamos nos lugares mais próximos do hotel. Minha esposa já usa mais
													quando quer comprar alguma roupa. Então, gosto bastante dos benefícios porque acabo gastando menos do que
													eu
													imaginava.
												</p>
												<p class="card__depoiment__bold">Sr. Osvaldo</p>
											</div>
										</div>
									</div>
								</div>
							</slide>
							<slide>
								<div class="row px-3">
									<div class="col-12">
										<div class="card card__depoiment">
											<img class="card-img-top" src="../img/icons/dona-nana.png" alt="Card image cap">
											<div class="card-body">
												<p class="card__depoiment__title">Com o Clube de Benefícios da Lidery eu posso aproveitar as promoções exclusivas em uma variedade enorme de lojas. É muito prático ver as ofertas pelo celular, uso mais pra alimentação e para comprar roupas com um valor mais em conta. Fico sempre de olho nas novidades, é excelente!</p>
												<p class="card__depoiment__bold">Dona Naná</p>
											</div>
										</div>
									</div>
								</div>
							</slide>
							<slide>
								<div class="row px-3">
									<div class="col-12">
										<div class="card card__depoiment">
											<img class="card-img-top" src="../img/icons/saulo.png" alt="Card image cap">
											<div class="card-body">
												<p class="card__depoiment__title">Os descontos que consigo com o Clube de Vantagens valem muito a pena. Já recomendei a Lidery para dois amigos e eles também estão gostando. Consegui um valor muito bom em uma TV e celular que precisava trocar. Também uso muito para comer fora de casa com a minha esposa. Me ajuda a economizar bastante!</p>
												<p class="card__depoiment__bold">Saulo</p>
											</div>
										</div>
									</div>
								</div>
							</slide>
							<slide>
								<div class="row px-3">
									<div class="col-12">
										<div class="card card__depoiment">
											<img class="card-img-top" src="../img/icons/uiara.png" alt="Card image cap">
											<div class="card-body">
												<p class="card__depoiment__title">Minha experiência com os benefícios da Lidery é muito boa. Comecei usando o cartão do Clube de Benefícios pra ganhar desconto na academia e no salão de beleza do meu bairro. Aí consigo me cuidar mais, sem pesar tanto no bolso no fim do mês. Fora a tranquilidade que tenho com o seguro AP, caso aconteça alguma coisa. Recomendo viu!</p>
												<p class="card__depoiment__bold">Uiara</p>
											</div>
										</div>
									</div>
								</div>
							</slide>
							<slide>
								<div class="row px-3">
									<div class="col-12">
										<div class="card card__depoiment">
											<img class="card-img-top" src="../img/icons/frances.png" alt="Card image cap">
											<div class="card-body">
												<p class="card__depoiment__title">Gosto bastante de assistir filmes com meu marido no final de semana. Com os descontos que a gente ganha no ingresso do cinema, conseguimos acompanhar mais os lançamentos. Também usamos muito o Clube de Vantagens para comer uma pizza no fds com um valor mais em conta. É muito bom!</p>
												<p class="card__depoiment__bold">Frances</p>
											</div>
										</div>
									</div>
								</div>
							</slide>
							<slide>
								<div class="row px-3">
									<div class="col-12">
										<div class="card card__depoiment">
											<img class="card-img-top" src="../img/icons/amanda.png" alt="Card image cap">
											<div class="card-body">
												<p class="card__depoiment__title">O valor que eu pago para ter acesso ao Clube de Vantagens, compensa muito os gastos que eu tenho no mês. Tenho uma economia de pelo menos 25% no meu orçamento com a alimentação fora de casa. Fiquei surpresa com o tanto de promoções que tenho acesso, uso sempre que preciso.</p>
												<p class="card__depoiment__bold">Amanda</p>
											</div>
										</div>
									</div>
								</div>
							</slide>
						</slides>

						<pagination></pagination>
					</swiper>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 text-center mt-5 d-none d-md-block">
				<a class="btn btn--lg btn--blue " href="javascript:void(0);" data-toggle="modal" data-target="#formLidery">Quero me associar agora</a>
			</div>
		</div>
	</div>
</section>

<section class="lidery__social">
	<div class="lidery__social--bg"></div>
	<div class="container">
		<div class="row">
			<div class="col-12 text-center text-md-left">
				<img class="lidery__social__logo" src="../img/icons/lidery-social.png" alt="">
				<img class="lidery__social__logo--social" src="../img/icons/social.png" alt="">
			</div>
			<div class="col-lg-6">
				<h2 class="lidery__social__title">VOCÊ FAZ PARTE DA LIDERY DE DIVERSAS MANEIRAS. UMA DELAS É AJUDANDO QUEM PRECISA.</h2>
				<img class="d-none d-lg-block" src="../img/icons/abrinq.png" alt="">
			</div>
			<div class="col-lg-6">
				<p class="lidery__social__description">Uma parte do valor das contribuições de nossos associados é destinada em
					acesso à educação, saúde e qualidade de vida
					para milhares de crianças do nosso país. Acreditamos que juntos podemos construir um futuro melhor, sempre!</p>
				<div class="row">
					<div class="col-12 text-center text-md-left">
						<a class="btn btn__outline--white ml-auto" href="#!/lidery-social">Mais informações</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<section class="about__us">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 m-auto" data-hidden data-revel="animated fadeInDown">
				<h2 class="about__us__title">Conheça a lidery</h2>
				<h3 class="about__us__description">Conectamos você aos melhores benefícios para sua vida.</h3>
			</div>
		</div>
		<div class="row" data-hidden data-revel="animated slideInLeft">
			<div class="col-md-6 p-0">
				<img class="img-fluid w-100" src="../img/vitrines/corp-lidery.jpg" alt="">
			</div>
			<div class="col-md-6 about__us__paragraph">
				<p>A
					<span class="open-bold">Lidery</span> é uma associação que nasceu com o propósito de ser uma alternativa eficiente
					e justa para todos que desejam
					soluções em produtos e serviços essenciais. Nossa principal finalidade é oferecer os melhores benefícios aos
					nossos
					associados. Tudo com a tranquilidade, conforto e bem-estar que você merece.</p>
				<p>Queremos encontrar as melhores soluções para superar os desafios do seu dia a dia. Fazemos isso através do
					Associativismo,
					que corresponde a união de pessoas para o exercício de uma atividade lícita e sem fins lucrativos, para promoção
					do
					acesso a benefícios e vantagens exclusivas aos seus participantes.</p>
				<a class="link color--blue" href="#!/about-us">CONHEÇA MAIS SOBRE A LIDERY </a>
			</div>
		</div>
	</div>
</section>

<section class="faq">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 m-auto" data-hidden data-revel="animated fadeInDown">
				<h3 class="faq__subtitle">Faq</h3>
				<h2 class="faq__title">AINDA TEM DÚVIDAS?</h2>
				<h3 class="faq__description">Se liga nas dúvidas frequentes!</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="accordion accordeon__lidery" id="accordionFAQ">
					<div class="card">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
								 aria-controls="collapseOne" ng-click="openOne = !openOne">
									<span class="icon__arrow" ng-class="{'rotate90': openOne}">
										<i class="fas fa-chevron-right"></i>
									</span>Quem é a Lidery?
								</button>
							</h5>
						</div>

						<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionFAQ">
							<div class="card-body">
								<p>A Lidery é uma Associação que nasceu com o propósito de ser uma alternativa eficiente e justa para
									todos que desejam soluções em produtos e serviços essenciais. Nossa principal finalidade é oferecer
									os melhores benefícios aos nossos associados. Junte-se a nós e aproveite todos as vantagens de
									ser Lidery!</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
								 aria-expanded="false" aria-controls="collapseTwo" ng-click="openTwo = !openTwo">
									<span class="icon__arrow" ng-class="{'rotate90': openTwo}">
										<i class="fas fa-chevron-right"></i>
									</span>Por que devo me associar à Lidery?
								</button>
							</h5>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFAQ">
							<div class="card-body">
								<p>Com o seu ingresso à Lidery você tem acesso ao melhor Clube de Vantagens da América Latina,
									conta com toda segurança em caso de um Acidente Pessoal, participa de sorteios mensais através
									do Sorte Premiada e, ainda, contribui com a construção de um futuro melhor para milhares de
									crianças e adolescentes do nosso País.</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
								 aria-expanded="false" aria-controls="collapseThree" ng-click="openThree = !openThree">
									<span class="icon__arrow" ng-class="{'rotate90': openThree}">
										<i class="fas fa-chevron-right"></i>
									</span>Como faço para ser Lidery?
								</button>
							</h5>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFAQ">
							<div class="card-body">
								<p>É muito simples! Faça seu cadastro em nosso site para ter acesso ao melhor Clube de Vantagens. É
									prático e super acessível ao seu bolso. Após o pedido de associação à Lidery, se aprovado, você
									receberá um e-mail com a confirmação de pagamento da Taxa de Adesão/Expediente, aprovação da
									Admissão e o seu Cartão Virtual da Lidery para usar nossos benefícios sempre que precisar.</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingFour">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
								 aria-expanded="false" aria-controls="collapseFour" ng-click="openFour = !openFour">
									<span class="icon__arrow" ng-class="{'rotate90': openFour}">
										<i class="fas fa-chevron-right"></i>
									</span>O que é a Taxa de Adesão?
								</button>
							</h5>
						</div>
						<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionFAQ">
							<div class="card-body">
								<p>A Taxa de Adesão, no valor de R$14,90, deve ser paga pelo interessado no momento do cadastro
									no site da Lidery. O valor tem por objetivo custear as despesas iniciais do ingresso do Associado.
									Isso inclui as despesas operacionais e administrativas. É importante ressaltar que a Taxa de Adesão
									não deve ser confundida com o valor da Taxa de Mensalidade/Manutenção no valor de R$ 9,90.</p>
							</div>
						</div>
					</div>

					<a class="d-block py-4 px-2 link color--blue" href="javascript:void(0)" ng-class="{'d-none': open,'d-block': !open}"
					 ng-click="openFaq()">OUTRAS DÙVIDAS</a>

					<div class="moreQuestions" ng-class="{'d-block': open,'d-none': !open}">
						<div class="card">
							<div class="card-header" id="headingFive">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
									 aria-expanded="false" aria-controls="collapseFive" ng-click="openFive = !openFive">
										<span class="icon__arrow" ng-class="{'rotate90': openFive}">
											<i class="fas fa-chevron-right"></i>
										</span>Como funciona o Sorte Premiada?
									</button>
								</h5>
							</div>
							<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionFAQ">
								<div class="card-body">
									<p>Todo Associado Lidery participa também do benefício Sorte Premiada, concorrendo com 01(um)
										Número da Sorte ao valor de R$50.000,00 (cinquenta mil reais) no último sábado de cada mês. Os
										sorteios são realizados pela Loteria Federal.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingSix">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
									 aria-expanded="false" aria-controls="collapseSix" ng-click="openSix = !openSix">
										<span class="icon__arrow" ng-class="{'rotate90': openSix}">
											<i class="fas fa-chevron-right"></i>
										</span>O que é o Seguro AP?
									</button>
								</h5>
							</div>
							<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionFAQ">
								<div class="card-body">
									<p>É sempre bom se prevenir e cuidar de quem a gente ama. O Seguro AP da Lidery disponibiliza R$ 10
										mil reais em caso de acidentes pessoais, como morte e invalidez permanente total ou parcial. Se
										precisar acionar o benefício, envie e-mail para contato@lidery.org.br. Conte com a gente!</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingSeven">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven"
									 aria-expanded="false" aria-controls="collapseSeven" ng-click="openSeven = !openSeven">
										<span class="icon__arrow" ng-class="{'rotate90': openSeven}">
											<i class="fas fa-chevron-right"></i>
										</span>O Clube de Vantagens Lidery vale a pena?
									</button>
								</h5>
							</div>
							<div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionFAQ">
								<div class="card-body">
									<p>Com certeza! O Clube de Vantagens Lidery é uma Plataforma Digital disponível a todos Associados.
										Você ganha descontos e vantagens exclusivas em sites e estabelecimentos parceiros em uma ampla
										Rede Conveniada. São mais de 2 mil comércios credenciados, 15 mil pontos de venda pela América
										Latina e novidades todos os meses.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingEigth">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEigth"
									 aria-expanded="false" aria-controls="collapseEigth" ng-click="openEigth = !openEigth">
										<span class="icon__arrow" ng-class="{'rotate90': openEigth}">
											<i class="fas fa-chevron-right"></i>
										</span>Como recebo o cartão da Lidery?
									</button>
								</h5>
							</div>
							<div id="collapseEigth" class="collapse" aria-labelledby="headingEigth" data-parent="#accordionFAQ">
								<div class="card-body">
									<p>É muito rápido! O cartão da Lidery é enviado por e-mail, após a aprovação do pedido de Associação.
										No cartão está disponível o número que o Associado deve utilizar para obter os benefícios do Clube
										de Vantagens Lidery.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingNine">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine"
									 aria-expanded="false" aria-controls="collapseNine" ng-click="openNine = !openNine">
										<span class="icon__arrow" ng-class="{'rotate90': openNine}">
											<i class="fas fa-chevron-right"></i>
										</span>Como tenho acesso ao Clube de Vantagens?
									</button>
								</h5>
							</div>
							<div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionFAQ">
								<div class="card-body">
									<p>É bem simples! O Associado deve acessar o endereço eletrônico: lidery.org.br, utilizando o número
										do Cartão do Associado. Este número é disponibilizado em até 02 (dois) dias úteis após a
										compensação do pagamento da Taxa de Adesão/Expediente, referente à Admissão do Associado.
										Permanecerá disponível a todos os Associados que mantiverem em dia as suas contribuições
										mensais. Você pode também baixar o aplicativo do Clube de Vantagens para ter acesso aos
										benefícios em seu celular.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTen">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen"
									 aria-expanded="false" aria-controls="collapseTen#collapseTen" ng-click="openTen = !openTen">
										<span class="icon__arrow" ng-class="{'rotate90': openTen}">
											<i class="fas fa-chevron-right"></i>
										</span>Como faço para encontrar os descontos?
									</button>
								</h5>
							</div>
							<div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionFAQ">
								<div class="card-body">
									<p>É muito prático! Para encontrar os melhores descontos e benefícios, o Associado deve acessar o
										Clube de Vantagens Lidery utilizando o número do seu cartão como login. Após entrar na plataforma
										digital você pode utilizar filtros para simplificar a procura de produtos nas lojas por localização,
										categoria e porcentagem de desconto.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingEleven">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven"
									 aria-expanded="false" aria-controls="collapseEleven" ng-click="openEleven = !openEleven">
										<span class="icon__arrow" ng-class="{'rotate90': openEleven}">
											<i class="fas fa-chevron-right"></i>
										</span>Como faço para comprar com o código promocional?
									</button>
								</h5>
							</div>
							<div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionFAQ">
								<div class="card-body">
									<p>Para comprar o produto com o desconto, você deve seguir as instruções que aparecem ao clicar na
										oferta de cada produto. No caso de uma compra virtual, você deverá preencher o código no ato da
										compra. Mas se a compra for em uma loja física, basta apresentar o cupom de desconto virtual no
										estabelecimento.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwelve">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve"
									 aria-expanded="false" aria-controls="collapseTwelve" ng-click="openTwelve = !openTwelve">
										<span class="icon__arrow" ng-class="{'rotate90': openTwelve}">
											<i class="fas fa-chevron-right"></i>
										</span>Quem devo contactar se não receber uma compra?
									</button>
								</h5>
							</div>
							<div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionFAQ">
								<div class="card-body">
									<p>Os serviços e produtos oferecidos são de inteira responsabilidade das empresas credenciadas em
										nossa plataforma. O Clube de Vantagens é somente uma vitrine de ofertas e benefícios exclusivos
										para os associados Lidery. Caso aconteça algum problema na compra de seu produto, entre em
										contato diretamente com a empresa que realizou a venda.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingThirteen">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThirteen"
									 aria-expanded="false" aria-controls="collapseThirteen" ng-click="openThirteen = !openThirteen">
										<span class="icon__arrow" ng-class="{'rotate90': openThirteen}">
											<i class="fas fa-chevron-right"></i>
										</span>Como realizo o pagamento da minha mensalidade?
									</button>
								</h5>
							</div>
							<div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionFAQ">
								<div class="card-body">
									<p>É prático e seguro! O pagamento mensal é realizado por meio do cartão de crédito, fornecido no
										momento do seu cadastro no site Lidery.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingFourteen">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFourteen"
									 aria-expanded="false" aria-controls="collapseFourteen" ng-click="openFourteen = !openFourteen">
										<span class="icon__arrow" ng-class="{'rotate90': openFourteen}">
											<i class="fas fa-chevron-right"></i>
										</span>Como faço para cancelar a minha associação?
									</button>
								</h5>
							</div>
							<div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordionFAQ">
								<div class="card-body">
									<p>O Associado que desejar se desligar do Quadro de Associados da Lidery, deverá formalizar o seu
										interesse e encaminhar um e-mail para: cancelamento@lidery.org.br. No requerimento deverá
										constar o nome completo e o motivo pelo qual deseja se desligar do Quadro de Associados da
										Lidery. Isso é um direito de todos os Associados.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingFifteen">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFifteen"
									 aria-expanded="false" aria-controls="collapseFifteen" ng-click="openFifteen = !openFifteen">
										<span class="icon__arrow" ng-class="{'rotate90': openFifteen}">
											<i class="fas fa-chevron-right"></i>
										</span>Qual é o contato da Lidery?
									</button>
								</h5>
							</div>
							<div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordionFAQ">
								<div class="card-body">
									<p>Se quiser falar com a gente, estamos sempre à disposição para ajudar! Envie um e-mail para
										contato@lidery.org.br e logo retornaremos o seu contato. Você também pode acessar o site da
										Lidery na área “Contato” para esclarecer suas dúvidas.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingSixteen">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSixteen"
									 aria-expanded="false" aria-controls="collapseSixteen" ng-click="openSixteen = !openSixteen">
										<span class="icon__arrow" ng-class="{'rotate90': openSixteen}">
											<i class="fas fa-chevron-right"></i>
										</span>O que é a Fundação Abrinq?
									</button>
								</h5>
							</div>
							<div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordionFAQ">
								<div class="card-body">
									<p>É uma organização sem fins lucrativos que tem como missão promover a defesa dos direitos e o
										exercício da cidadania de crianças e adolescentes. A Lidery é parceira da Abrinq e apoia esta causa,
										destinando parte das Contribuições Sociais para o alcance desta finalidade.</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<section class="contact" ng-controller="contactCtrl">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 m-auto" data-hidden data-revel="animated fadeInDown">
				<h3 class="contact__subtitle">Contato</h3>
				<h2 class="contact__title">VAMOS CONVERSAR?</h2>
				<div class="alert alert-success" role="alert" ng-if="send">
					Sua mensagem foi enviada com sucesso.
				</div>

				<form angular-validator-submit="mailer()" name="contactForm" novalidate angular-validator>
					<div class="form-row">
						<div class="form-group col-md-6 pr-md-3">
							<label for="name">Nome</label>
							<input id="name" name="name" class="form-control" ng-model="contact.nomeContato" required-message="'Campo obrigatório'"
							 validate-on="dirty" required>
						</div>

						<div class="form-group col-md-6 pl-md-3">
							<label for="email">E-mail</label>
							<input id="email" type="email" name="email" class="form-control" ng-model="contact.emailContato" invalid-message="'Digite um e-mail válido'"
							 required-message="'Campo obrigatório'" validate-on="dirty" required>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6 pr-md-3">
							<label for="cel">Telefone</label>
							<input type="text" id="cel" name="cel" class="form-control" ng-model="contact.telefoneContato" required-message="'Campo obrigatório'"
							 invalid-message="'Número inválido'" validate-on="dirty" ui-br-phone-number-mask required>
						</div>
						<div class="form-group col-md-6 pl-md-3">
							<label for="subject">Assunto</label>
							<input id="subject" name="subject" class="form-control" ng-model="contact.assuntoContato" required-message="'Campo obrigatório'"
							 validate-on="dirty" required>
						</div>
					</div>
					<div class="form-group">
						<label for="message">Mensagem</label>
						<textarea class="form-control" id="message" rows="5" name="message" ng-model="contact.mensagemContato"
						 required-message="'Campo obrigatório'" validate-on="dirty" required></textarea>
					</div>
					<button type="submit" class="btn btn--blue mr-3">Enviar</button>
				</form>

			</div>
		</div>
	</div>
</section>

</main>