<main class="main">
    <section class="banner banner--lidery-social">
        <div class="container">
            <div class="row banner__translate--y">
                <div class="col-12 col-lg-7 mb-2">
                    <h1 class="banner__title" data-hidden data-revel="animated fadeInDown">Lidery Social</h1>
                    <h2 class="banner__subtitle" data-hidden data-revel="animated fadeInDown delay-0-5s">Cuide do futuro de nossas crianças e faça parte dessa tranformação!</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="showcase__lidery__social">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-3 p-md-4 showcase__lidery__social--centered">
                    <p class="showcase__lidery__social__text">Que bom seria se todas as crianças e adolescentes tivessem acesso à educação e saúde de qualidade, não
                        é mesmo?
                    </p>
                    <p class="showcase__lidery__social__text">
                        Infelizmente, quase metade das crianças do Brasil ainda vivem na pobreza. E pior, diariamente 118 crianças morrem por motivos
                        que poderiam ser evitados, como o acesso à saúde.
                    </p>
                </div>
                <div class="col-md-6 p-0">
                    <img class="img-fluid w-100" src="../img/vitrines/lidery-social-one.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 order-md-1 p-3 p-md-4 showcase__lidery__social--centered">
                    <p class="showcase__lidery__social__text">Para ajudar a fazer a diferença e a construir um futuro melhor, a
                        <span class="open-bold">Lidery</span> oferece todo seu apoio à Fundação Abrinq.
                    </p>
                    <p class="showcase__lidery__social__text">
                        Juntos queremos promover a defesa dos direitos e o exercício da cidadania de crianças e adolescentes do nosso País.
                    </p>
                </div>
                <div class="col-md-6 p-0 order-md-0">
                    <img class="img-fluid w-100" src="../img/vitrines/lidery-social-two.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 p-3 p-md-4 showcase__lidery__social--centered">
                    <p class="showcase__lidery__social__text">Acreditamos que toda criança deve ter a oportunidade de crescer, brincar, aprender e ser protagonista
                        de sua história. Afinal, elas merecem cuidados especiais e todo amor do mundo. Junte-se a nós e abrace
                        essa causa!</p>
                    <p class="showcase__lidery__social__text--bold text-center">FAÇA PARTE DESSA TRANSFORMAÇÃO!</p>
                </div>
                <div class="col-md-6 p-0">
                    <img class="img-fluid w-100" src="../img/vitrines/lidery-social-three.jpg" alt="">
                </div>
                <div class="col-12 text-center showcase__lidery__social__btn">
                    <a class="btn btn--lg btn--blue" href="javascript:void(0);" data-toggle="modal" data-target="#formLidery">Quero ter as vantagens lidery</a>
                </div>
            </div>

        </div>
    </section>

    <section class="abrinq">
        <img class="img-fluid w-100" src="../img/vitrines/child-abrinq.jpg" alt="">
    </section>

    <section class="contact" ng-controller="contactCtrl">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 m-auto" data-hidden data-revel="animated fadeInDown">
					<h3 class="contact__subtitle">Contato</h3>
					<h2 class="contact__title">VAMOS CONVERSAR?</h2>
					<div class="alert alert-success" role="alert" ng-if="contactCtrl.send">
						Sua mensagem foi enviada com sucesso.
					</div>

					<form angular-validator-submit="mailer()" name="contactForm" novalidate angular-validator>
						<div class="form-row">
							<div class="form-group col-md-6 pr-md-3">
								<label for="name">Nome</label>
								<input  id="name"
										name = "name"
										class = "form-control"
										ng-model = "contact.name"
										required-message="'Campo obrigatório'"
										validate-on="dirty"
										required>
							</div>

							<div class="form-group col-md-6 pl-md-3">
								<label for="email">E-mail</label>
								<input  id="email"
										type = "email"
                                        name = "email"
                                        class = "form-control"
                                        ng-model = "contact.email"
                                        invalid-message="'Digite um e-mail válido'"
                                        required-message="'Campo obrigatório'"
                                        validate-on="dirty"
                                        required>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6 pr-md-3">
								<label for="cel">Telefone</label>
								<input  type="text"
										id="cel"
										name = "cel"
										class="form-control" 
										ng-model = "contact.cel"
										required-message="'Campo obrigatório'"
										invalid-message = "'Número inválido'"
										validate-on="dirty"
										ui-br-phone-number-mask
										required>
							</div>
							<div class="form-group col-md-6 pl-md-3">
								<label for="subject">Assunto</label>
								<input  id="subject"
										name = "subject"
										class = "form-control"
										ng-model = "contact.subject"
										required-message="'Campo obrigatório'"
										validate-on="dirty"
										required>
							</div>
						</div>
						<div class="form-group">
							<label for="message">Mensagem</label>
							<textarea 	class="form-control" 
										id="message" 
										rows="5"
										name = "message"
										ng-model = "contact.message"
										required-message="'Campo obrigatório'"
										validate-on="dirty"
										required></textarea>
						</div>
						<button type="submit" class="btn btn--blue mr-3">Enviar</button>
					</form>

				</div>
			</div>
		</div>
	</section>
</main>